PUBLIC_CONTACTS_EMAIL="" # Email used to contact the webmaster
PUBLIC_MAPBOX_TOKEN="" # A mapbox token (see https://docs.mapbox.com/help/getting-started/access-tokens/)
SESSION_SECRET="" # Secret used to generate JWTs
SESSION_EXPIRATION=86400 # The expiration of each session (in seconds)

ADMIN_USERNAME="" # The admin username
ADMIN_PASSWORD="" # The admin password

# PostgreSQL database connection urls
DIRECT_URL="postgres://user:password@server/database?sslmode=require"
POSTGRES_PRISMA_URL="postgres://user:password@server/database?pgbouncer=true&connect_timeout=15&sslmode=require"
